
.header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 2.5rem; 
       margin-bottom: 10px;
    font-weight: bold;
  }
  
  .header p {
    font-size: 1.2rem; 
    margin: 5px 0;
    line-height: 1.6;
  }
  
  .header p:first-child {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px; 
  }
  
   @media (max-width: 768px) {
    .header {
      padding: 15px;
    }
  
    .header h1 {
      font-size: 2rem; 
    }
  
    .header p {
      font-size: 1rem; 
    }
  
    .header p:first-child {
      font-size: 1.4rem; 
    }
  }
  