.skills {
    /* margin: 20px; */
    padding: 20px;
    background-color: #233554;
    /* border-radius: 8px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skills h2 {
    font-size: 2rem;
    color: #64ffda;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .skills ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .skills li {
    font-size: 1.2rem;
    color: #64ffda;
    margin: 10px 0;
    padding: 8px;
    /* border-radius: 5px; */
    background-color: #233554;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* Hover effect for list items */
  .skills li:hover {
    background-color: rgb(19, 8, 8);
    transform: translateX(10px);
  }
  
  /* Styling for the entire skills section on small screens */
  @media (max-width: 768px) {
    .skills {
      margin: 10px;
      padding: 15px;
    }
  
    .skills h2 {
      font-size: 1.8rem;
    }
  
    .skills li {
      font-size: 1rem;
      margin: 8px 0;
      padding: 6px;
    }
  }
  